:root {
  --main-color: #54010b;
  --secondary-color: #BB0319;
  --light-accent-color: rgba(0, 0, 255, 0.096);
  --gray: #5b696f;
  --dark-white: #fefefe;
  --golden-yellow: #F7B32F;
  --main-padding: 1rem;
  --fs-md: 0.8rem;
  --fs-lg: 1rem;
  --fs-st: 0.775rem;
  --fs-sm: 0.7rem;
  --fs-xs: 0.65rem;
}
#root .App {
  margin-block: .3rem;
  min-height: 100vh;
}
.container {
  width: 93%;
  margin: auto;
  max-width: 82.5rem;
}
input{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;

}
a {
    color: var(--dark-color);
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}

.shadow{
  width: 100%;
  height: 100%;
  background-color: #0000003b;
}
.title{
  font-size: 0.93rem;
  font-weight: 600;
  text-transform: capitalize;
}
ul{
  list-style-type: none;
}
.bold {
    font-weight: bold;
}
@media(min-width: 60rem){
    #root .App {
      margin-block: 0rem;
  }
  a:hover {
      color: var(--main-color);
  }
}
@media(max-width: 60rem){
    #root .discover_top_pin {
      display: none;
  }
}


